<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">
	
	<listeners>
		<listener class-name="com.utilities.CustomListener"/>
		<listener class-name="com.utilities.Reporting"/>
	</listeners>
	
	<test thread-count="5" verbose="10" name="Default test">
		<classes>
			<class name="RunnerClass.RunCucumberTest" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->